body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
  /* remove this line */
  /* background-color: lightsteelblue */
}

.center {
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 100px;
  margin: 10px;
}
.avatar-menu {
  height: 40px;
}

.loggedUser {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.user-info {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 5px 5px 20px teal;
}

.divider {
  height: 100px;
  width: 2px;
  background: lightgray;
}

.scoreTotal {
  font-weight: bold;
  font-size: 50px;
  color: #1178c5;
  font-family: sans-serif;
  padding: 10px;
}

td:last-child {
  font-weight: bold;
  color: teal;
}

.login-box {
  margin: 50px auto;
  width: 400px;
  padding: 40px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 3px 3px 20px teal;
}

.login-box input,
select {
  display: block;
  margin: 20px auto;
  width: 100%;
  padding: 5px;
  background-color: white;
  text-transform: uppercase;
}

.login-box input {
  color: white;
  background-color: teal;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.tab {
  margin: 0 auto;
  width: 600px;
}

.answer-info {
  width: 300px;
  padding: 10px;
}

.answer-image {
  max-width: 100px;
  text-align: center;
  font-weight: bold;
}

.btn {
  margin: 5px auto;
  padding: 10px;
  border: 1px solid teal;
  border-radius: 10px;
  cursor: pointer;
  background: #fff;
  width: 250px;
  position: relative;
  color: teal;
}

.btn:hover {
  text-decoration: none;
  font-weight: bold;
  transform: scale(1.05);
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.active {
  font-weight: bold;
}

.nav {
  margin: 10px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav ul li {
  padding: 10px;
  text-align: center;
  align-self: center;
}

.nav ul li a {
  color: teal;
  font-size: 18px;
}

.nav ul .right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.progress {
  margin-bottom: 1em !important;
}

.progress-info {
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #e6e6e6;
  width: 300px;
}

.new-question {
  margin: 0 auto;
  width: 500px;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 3px 3px 20px teal;
}
