body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
  /* remove this line */
  background-color: lightyellow;
}

.center {
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 100px;
  margin: 10px;
}

.user-score {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 30px;
  cursor: pointer;
}

.divider {
  height: 100px;
  width: 2px;
  background: lightgray;
}

.scoreTotal {
  font-weight: bold;
  font-size: 50px;
  color: #1178c5;
  font-family: sans-serif;
}

td:last-child {
  font-weight: bold;
  color: green;
}

.login-box {
  margin: 50px auto;
  width: 400px;
  padding: 40px;
  background-color: #e8f3f7;
  text-align: center;
  border-radius: 50px;
  box-shadow: 5px 5px 20px #000;
}

.login-box input,
select {
  display: block;
  margin: 20px auto;
  /* border: 1px solid black; */
  width: 100%;
  padding: 5px;
  background-color: white;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px #000;
}

.login-box input{
  color: white;
  background-color: #1178c5;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.login-image {
  margin-top: 10px;
  width: 200px;
  border-radius: 30px;
  box-shadow: 5px 5px 20px #000;
}